// https://material.io/resources/color/

$background-color: #ffffff;
$surface-color: #eeeeee;
$error-color: #b00020;

$on-primary-color: #ffffff;
$on-secondary-color: #000000;
$on-background-color: #000000;
$on-surface-color: #000000;
$on-error-color: #ffffff;

// $primary-color: #808000;
// $primary-text-color: #000000;
// $primary-light-color: #b2af3d;
// $primary-light-text-color: #000000;
// $primary-dark-color: #505400;
// $primary-dark-text-color: #ffffff;
// ORRRRR a brighter green
$primary-color: #80b000;
$primary-text-color: #000000;
$primary-light-color: #b3e247;
$primary-light-text-color: #000000;
$primary-dark-color: #4e8000;
$primary-dark-text-color: #ffffff;

$synthetic-green: #47cf73;

$duolingo-dark-green: #78c800;
$duolingo-light-green: #8ee001;
